.someWork {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}
.allWork {
  display: flex;
  align-items: center;
}
.allWork span {
  width: 200px;
  margin-left: 2rem;
  height: 1px;
  background-color: var(--span-color);
}
.someWork a {
  color: var(--span-color);
  text-decoration: none;
  border: 1px solid var(--span-color);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin: 1rem 0rem;
}

/* Project  */

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.project .workImage {
  width: 60%;
  /* width: 100%; */
}
.project .workImage img {
  width: 100%;
  height: auto;
}

.project .workContent {
  width: 40%;
  /* width: 100%; */
  background-color: var(--bg-seondary);
  padding: 1rem;
  border-radius: 5px;
}
.workContent p,
h2 {
  color: var(--text-color);
}

.workContent span {
  color: var(--span-color);
}
